 * { margin:0; padding:0; }

body{
    width : 100%;
    min-height: 100vh;
    font-family: "Malgun Gothic";
    background-color: #222228;

}

/* -------------- NAV -------------------------- */

    nav {
      font-family: Malgun Gothic;
      background:#1e1f25;
      color:white;
      display:flex;
      align-items:center;
      justify-content:space-between;
      padding:12px 24px;
      position:fixed;
      top:0; left:0;
      width:100%;
      height: 60px;
      z-index:100;
      box-sizing: border-box;
    }

    .logo {
      display:flex;
      align-items:center;
      gap:8px;
    }
    .logo .icon {
      font-weight:bold;
      font-size:24px;
      color:#d4af37;
    }
    .logo span {
      font-family:"Times New Roman", serif;
      font-size:18px;
      color:white;
    }

    .nav-links {
      display:flex;
      list-style:none;
      gap:24px;
    }
    .nav-links a {
      text-decoration:none;
      color:white;
      font-size:13px;
      transition:0.3s;
    }
    .nav-links a:hover {
      color:#d4af37;
    }

    #signin {
      background:#ffffff00;      
      border: 1px solid;
      padding:2px 20px;
      border-radius: 14px;
      font-weight:600;
      margin-left: 35px;
      transition:0.3s;
    }
   
    
    #signin:hover {
      background:#d4af37;
      color: #1e1f25;
    }

    .menu-berg {
      display:none;
      cursor:pointer;
      font-size: 24px;
    }
 
    @media (max-width:480px){
        
      .nav-links {
        display:none;
        flex-direction:column;
        position:absolute;
        top:50px;
        right:0;
        background:#1e1f25;
        width:100%;
        padding:10px 0;
        border-top:1px solid rgba(255,255,255,0.1);
      }
      .nav-links[data-visible="true"] {
        display:flex;
      }
      .nav-links li {
        text-align:center;
        padding:10px 0;
      }
      .menu-berg {
        display:block;
      }
      #signin{
          margin-left: 0px;
      }
    }

/* -------------- Footer -------------------------- */

footer {
  font-family: Malgun Gothic;
  background-color: #000;
  color: #fff;
  padding: 40px 20px 40px 80px;
  border-top: 1px solid #222;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
  padding: 22px 0px;
}

.nav-logo img , .footer-logo img {
  width: 120px;
  margin-top: 6px;
}

.footer-desc {
  color: #ccc;
  font-size: 15px;
  font-family:"Malgun Gothic";
  margin-right: 203px;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  margin-bottom: 40px;
}

.footer-section h3 {
  color: #d4a017;
  font-weight: 700;
  margin-bottom: 12px;
  font-size: 18px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 6px 0;
}

.footer-section ul li a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
  font-size: 15px;
}

.footer-section ul li a:hover {
  color: #d4a017;
}

.footer-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 5px;
  padding-bottom: 22px;
}

.footer-image {
  display: flex;
  height: 130px;
}

.footer-social-icons {
  display: flex;
  gap: 20px;
  border: 1px solid white;
  padding: 10px 45px;
  border-radius: 15px;
}

.footer-social-icons a {
  color: rgba(255, 255, 255, 0.645);
  font-size: 18px;
  transition: color 0.3s;
}

.footer-social-icons a:hover {
  color: #d4a017;
}

.line{
    width: 100%;
    border: 1px solid rgba(255, 248, 220, 0.245);
}

.footer-copy {
  text-align: center;
  color: #999;
  font-size: 13px;
  margin-top: 25px;
 
}

@media (max-width: 480px) {

  footer {
  padding: 10px 30px 30px 40px;
  
}

.nav-logo img , .footer-logo img {
  width: 90px;
  margin-top: 6px;
}


  .footer {
    padding: 30px 60px;
    
  }

  .footer-top {
    margin-bottom: -25px;
    padding-top: 10px;
  
  }
  

  .footer-content {
    grid-template-columns: 1fr;
    gap: 10px;  

  }

  .footer-section {
    margin-bottom: 20px;
    padding-bottom: 22px;
    padding-left: 28px;
    border-bottom: 1px solid rgba(142, 142, 138, 0.362);

  }

   .footer-section a {
      padding-left: 9px;

  }

  .footer-bottom {
    flex-direction: column;
    gap: 20px;
  }

  .footer-social-icons {
    margin-top: 10px;
    margin-left: -33px;
  }

  .footer-image {
    display: none;
  }

  .footer-desc{
      display: none;
  }
}


/*-------------------------------------------------------------*/

/*--------------------------------inclusion_impact-----------------------------*/
main {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    background-color: #222228;
    gap: 5vh;
}
.A h1 {
    font-size: 24px;
    color: #ffffff;
    text-align: center;
}
.A h2 {
    font-size: 22px;
    color: #ffffff;
    text-align: center;
}
.A p {
    font-size: 14px;
}

.A {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 7vh;
    color: white;
    width: 90%;
}
.A__statistics, .A__benefices, .A__hero, .A__temoignage, .A__chiffres, .A__lastmsg {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 3vh;
    width: 100%;
}

.A__hero--title, .A__hero--description , .A__temoignage--title, .A__temoignage--description, .A__lastmsg--text, .A__chiffres--title {
    text-align: center;
}
.A__hero--block {
    position: relative;
}
.A__hero--block img {
    width: 100%;
}
.A__hero--button, .A__lastmsg--button {
    text-decoration: none;
    background-color: #d6990016;
    color: white;
    border: 2px solid white;
    border-radius: 40px;
    width: 12rem;
    height: 2.5rem;
    display: grid;
    place-items: center; 
}
.A__hero--button {
    position: absolute;
    left: 50%;
    bottom: 6%;
    transform: translateX(-50%);
}

.A__statistics--title, .A__benefices--title, .A__benefices__card--descripyion {
    text-align: center;
}
.A__statistics__card, .A__benefices__card , .A__chiffres--block{
    display: grid;
    place-items: center;
    background-color: #2B3248;
    border: 1px solid #EDC86A;
    border-radius: 5px;
    width: 100%;
    height: auto;
    padding: 5% 0 5% 0;
    gap: 2vh;
}
.A__chiffres--block {
    border-radius: 15px;
}
.A__statistics__card--content {
    row-gap: 1vh;
    width: 90%;
    height: auto;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 2fr 1fr;
    justify-items: center;
    align-items: center;
}


.A__statistics__card--number {
    grid-column: 1 / 2;
    grid-row: 1 /2;
    font-size: x-large;
    font-weight: bold;
}
.A__statistics__card--img {
    grid-column: 2 / 3;
    grid-row: 1 /2;
    width: 100%;
    height: 100%;
}
.A__statistics__card--description {
    grid-column: 1 / 3;
    grid-row: 2 /3;
    border: 1px solid #EDC86A;
    border-radius: 5px;
    background-color: black;
    display: grid;
    place-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    
}
.A__statistics__card--img > img {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}



.A__temoignage__card {
    position: relative;
    display: grid;
    grid-template-columns: 8% 60% 32%;
    background-color: white;
    border-radius: 5px;
    width: 100%;
    height: auto;
    color: black;
    row-gap: 2vh;
    padding: 5px;
}
.A__temoignage__card--pic {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-30%, -30%);
    width: 2rem;
}
.A__temoignage__card--name {
    grid-column:2 / 3;
    grid-row:1 / 2;
}
.A__temoignage__card--stars {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}
.A__temoignage__card--description {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    text-align: center;
    justify-self: center;
 }
.A__temoignage__card--stars img {
    width: 1rem;
 }
.A p {
    opacity: 0.7;
}
.A__chiffres--map {
    border-radius: 5px;
    width: 100%;
}


@media (min-width:700px) {
.A__hero--button, .A__lastmsg--button {
    width: 20rem;
    height: 4rem;
    border-width: 2px;
}
.A__hero--button:hover, .A__lastmsg--button:hover {
    background-color: #ffbd164f;
}
.A h1 {
    font-size: 40px;
}
.A h1 {
    font-size: 36px;
}
.A p {
    font-size: 20px;
}
.A {
    gap: 15vh;
}
.A__statistics {
    grid-template-columns: repeat(auto-fit,minmax(350px, 1fr));
    gap: 5vh;
}
.A__benefices, .A__chiffres {
    grid-template-columns: repeat(auto-fit,minmax(300px,  1fr));
    gap: 5vh;
}
.A__temoignage {
    grid-template-columns: repeat(auto-fit,minmax(400px, 1fr));
    gap: 10vh;
    background-color: #2B3248;
    border: 1px solid #EDC86A;
    border-radius: 10px;
    width: 100%;
    height: auto;
    padding: 3%;
    gap: 5vh;
}
.A__temoignage__card--stars img {
    width: 1.3rem;
}
.A__temoignage__card--pic {
    width: 4rem;
}
.A__temoignage__card {
    grid-template-columns: 10% 60% 30%;
    border-radius: 10px;
    row-gap: 2vh;
    padding: 5px;
}
.A__statistics--title, .A__benefices--title, .A__temoignage--title, .A__temoignage--description, .A__chiffres--title, .A__chiffres--map {
    grid-column: 1 / -1;
}
.A__statistics__card, .A__benefices__card , .A__chiffres--block{
    border-radius: 10px;
    min-height: 10vh;
    min-width: 300px;
}
.A__lastmsg {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: left;
}
.A__lastmsg--text {
    grid-area: 1 / 2 / 2 / 3;
    text-align: left;
    font-size: 32px;
}
.A__lastmsg--button {
    grid-area: 1 / 1 / 2 / 2;
}
}
